<div class="col-md-8 blog-main pt-3">
  <div class="blog-post pt-3">
    <h2 class="blog-post-title"><%= @blog.title %></h2>
    <h4>Topic: <%= @blog.topic.title %></h4>
    <p class="blog-post-meta">Updated <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago</p>
    <p class="blog-post-meta">
      <p>Status: <%= @blog.status%></p>
      <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:siteadmin) %>  |  
      <%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:siteadmin) %>
    </p>         
    <p><%= @blog.body %></p>
    <hr>
    <% if current_user.is_a? User %>
      <%= form_for @comment, url: '#' do |f| %>
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, class: 'form-control'%>
        </div>
        <div class="form-group">
          <%= f.submit 'Post Comment', class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% end %>
    
    <div id="comments" data-blog-id="<%= @blog.id %>">
      <%= render @blog.comments %>
    </div>

  </div><!-- /.blog-post -->
</div><!-- /.blog-main -->
