<div class="card">
  <div class="card-body">
    <h2 class="card-title">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-10"></div>
        <div class="col-md-2 form-group ">
          <%= f.submit "Sign up", class: "btn btn-primary form-group btn-block" %>
        </div>

        <div class="col-md-10"></div>
        <div class="col-md-2 ">
          <button class="btn btn-primary btn-block"><%= render "devise/shared/links"%></button>
        </div>
      </div>
    <% end %>
  </div>
</div>