<%= form_for(obj) do |form| %>
  <% if obj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(obj.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :subtitle %>
        <%= form.text_field :subtitle, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, class: "form-control", rows: 15 %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-groupeld">
        <%= form.label :main_image %>
        <%= form.text_area :main_image, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :thumb_image %>
        <%= form.text_area :thumb_image, class: "form-control" %>
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="form-group">
        <%= form.submit "Submit", class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
<% end %>