

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Portfolio Items</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      <p>
        <%= link_to "Find out more about me", about_path, class: "btn btn-primary my-2" %>
        <%= link_to "My Blog", blogs_path, class: "btn btn-secondary my-2" %>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <% @port_items.each do |item| %>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
               <%= image_tag item.thumb_image unless item.thumb_image.nil? %> 
              <div class="card-body">
              <span><%= link_to item.title, portfolio_path(item)%><span> <%= item.subtitle%>
              </div>
            </div>
          </div>
        <% end %>          
      </div>
    </div>
  </div>

</main>

<hr>
<%= link_to "create new portfolio Item", new_portfolio_path if logged_in?(:siteadmin) %>


