<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>%">

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if current_user.is_a?(User)%>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <%= link_to "Edit Account",  edit_user_registration_path %>
      <%= current_user.name %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>

    <%= yield %>

    <div>
      <div><%= link_to "Home", root_path %></div>
      <div><%= link_to "About", about_path %></div>
      <div><%= link_to "Contact", contact_path %></div>
      <div><%= link_to "Blogs", blogs_path %></div>
      <div><%= link_to "Porfolios", portfolios_path %></div>
    </div>

    <p> <% if session[:source] %>
      Thanks for visiting me from <%= session[:source]%>
    <% end %> </p>
  </body>
</html>
